$color-black: #000000;
$color-white: white;
$color-grey: #888888;
$color-wheat: #d2ae5d;
$font-header: "Patrick Hand SC", cursive;
$font-quote: "Alegreya Sans SC", sans-serif;
$border-style: 1px solid red;

@mixin for-phone {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet {
  @media (min-width: 600px) and (max-width: 1200px) {
    @content;
  }
}

body,
html {
  background-color: rgb(93, 188, 210);
  background-image: url(../img/bg_zen.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  height: 100%;
}

.container {
  // border: $border-style;
  text-align: center;
  font-family: $font-quote;

  header {
    font-family: $font-header;
    height: 250px;
    padding-top: 50px;
    margin-bottom: 50px;
    h1 {
      color: $color-white;
      font-size: 6em;
      text-shadow: 5px 5px $color-wheat;
    }
    h2 {
      color: $color-white;
      font-size: 2.5em;
      text-shadow: 2px 2px $color-wheat;
    }

    @include for-phone {
      h1 {
        font-size: 3.5em;
        text-shadow: 3px 3px $color-wheat;
      }
      h2 {
        font-size: 1.5em;
        text-shadow: 1px 1px $color-wheat;
      }
    }

    @include for-tablet {
      h1 {
        font-size: 4.5em;
        text-shadow: 4px 4px $color-wheat;
      }
      h2 {
        font-size: 2em;
      }
    }
  }

  button {
    font-family: $font-header;
    font-size: 1.5em;
    background-color: $color-wheat;
    margin: 20px 10px;
  }

  .quote-area {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
    border-radius: 25px;

    #text {
      position: relative;
      font-size: 2.5em;
    }
    #author {
      position: relative;
      font-size: 1.5em;
      font-style: italic;
    }

    @include for-phone {
      padding: 25px;
      border-radius: 10px;

      #text {
        font-size: 1.5em;
      }
      #author {
        font-size: 1em;
      }
    }
  }
}
