.container {
  border: 1px solid red;
  text-align: center;
  font-family: "Alegreya Sans SC", sans-serif; }
  .container header {
    background-color: #888888;
    font-family: "Patrick Hand SC", cursive; }
  .container h1 {
    font-size: 3em; }
